<div id="header_block">
    <div class="col-md-2" id="logo">
        <a href="menu.html">
            <img src="../img/logo.png" width="130px">
        </a>
    </div>
    <div class="col-md-5" id="header_info">
        <div class="col-md-6"><b>Средние курсы</b><ul id="avg_header"></ul></div>
        <div class="col-md-4 centered"><b>Финрез сегодня </b><span id="finres_header" class="middle"></span></div>
    </div>
    <div class="col-md-3" id="header_user">
        <div class="user-icon">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i> <span id="header_username"></span>
            <div class="user_dropdown">
                <a onclick="showSettingsScreen()">Настройки</a>
                <a onclick="logOutFromSystem()">Выйти</a>
            </div>
        </div>
    </div>
</div>

<script>
    //caching
    if (sessionStorage.getItem('header_avg') !== null) {
        $("#avg_header").html(sessionStorage.getItem('header_avg'));
    }
    if (sessionStorage.getItem('header_finres') !== null) {
        $("#finres_header").html(sessionStorage.getItem('header_finres'));
    }
    //requesting info
    var userReqStrHeader = (priv === 'admin') ? "&user=" + username : "";
    var currDateHeader = new Date(), day = currDateHeader.getDate(), month = currDateHeader.getMonth() + 1,
        year = currDateHeader.getFullYear();
    var avgHeader = 0, dailyFinresHeader = 0, headerReserves = [], headerCurrencies = [];
    $("#header_username").html(username);
    reBuildHeaderInfo();

    function reBuildHeaderInfo() {
        //finrez section
        $.ajax({
            url: apiServer + '/reportfull',
            type: 'GET',
            crossDomain: true,
            data: userReqStrHeader + "&dateEnd=" + month + "/" + day + "/" + year + "&dateBegin=" + month + "/" + day + "/" + year,
            headers: {
                "authorization": localStorage.getItem('token')
            },
            success: function (data) {
                var arr = data.reports.noncrypto;
                dailyFinresHeader = 0;
                if (arr) {
                    $.each(arr, function (key, value) {
                        dailyFinresHeader += value.cur_fin_res;
                    });
                }
                $("#finres_header").html(dailyFinresHeader.toFixed(2));
                sessionStorage.setItem('header_finres', dailyFinresHeader.toLocaleString('ru-RU', {
                    maximumFractionDigits: 2
                }));
            },
            error: function (err) {
                sessionStorage.setItem('header_finres', 0);
                $("#finres_header").html(0);
            }
        });

        //avg courses section
        var avgData = "";
        getCurrencyList(function (data) {
            headerCurrencies = data;
            getReserveList(function (data) {
                $.each(data, function (key, value) {
                    if (value.responsible === username && headerCurrencies.find(function (a) {
                            return a.currency === value.currency;
                        }).isCrypto) {
                        headerReserves.push(value);
                        avgData += '<li><b>' + value.currency + ' </b><span class="align_left col-md-5"> ' + value.title + ':</span><span class="align_right col-md-5">' + value.average_course.toLocaleString('ru-RU', {
                            maximumFractionDigits: 2
                        }) + '</span></li>'
                    }
                });
                $("#avg_header").html(avgData);
                sessionStorage.setItem('header_avg', avgData);
            });
        });
    }

    function showSettingsScreen() {
        let user = {};
        getAntiagentList(function (data) {
            user = data.find(function (a) {
                return (a.agentname === username);
            });
            swal({
                title: "Настройки",
                html: '<br><div class="settings_block middle"><label for="botcommissHeader">Сервисный сбор: </label>' +
                '<input class="swal2-input validate col-md-4" name="percentBOT" id="botcommissHeader" type="number" ' +
                'max="100" min="0" step="0.01" value="' + botComission * 100 + '">% </div>' +
                '<h3>Пользовательская информация</h3>' +
                '<div class="settings_block middle"><label for="firstnameHeader">Имя: </label>' +
                '<input class="swal2-input validate col-md-4" name="first_name" id="firstnameHeader" type="text" ' +
                'pattern="^[a-zA-Zа-яА-ЯЁё]+$" maxlength="20" value="' + transform(user.First_Name) + '"></div>' +
                '<div class="settings_block middle"><label for="lastnameHeader">Фамилия: </label>' +
                '<input class="swal2-input validate col-md-4" name="last_name" id="lastnameHeader" type="text" ' +
                'pattern="^[a-zA-Zа-яА-ЯЁё]+$" maxlength="20" value="' + transform(user.Last_Name) + '"></div>' +
                '<div class="settings_block middle"><label for="phoneHeader">Телефон: </label>' +
                '<input class="swal2-input validate col-md-4" name="call" id="phoneHeader" type="tel" ' +
                'pattern="(\\+)?[0-9]{1}[-| ]?[0-9]{3}[-| ]?[0-9]{3}[-| ]?[0-9]{4}" maxlength="17" value="' + transform(user.call).replace(/\s/g,'') + '"></div>' +
                '<div class="settings_block middle"><label for="mailHeader">E-mail: </label>' +
                '<input class="swal2-input validate col-md-4" name="mail" id="mailHeader" type="email" ' +
                'value="' + transform(user.mail) + '"></div>' +
                '<div class="settings_block middle"><a class="dangerButton" onclick="clearAllOperations()">ОЧИСТИТЬ ИСТОРИЮ ОПЕРАЦИЙ</a></div>',
                showCloseButton: true,
                showCancelButton: true,
                width: "55%",
                preConfirm: function () {
                    return new Promise(function (resolve, reject) {
                        let botComiss = $("#botcommissHeader").val(), firstname = $("#firstnameHeader").val(),
                            lastname = $("#lastnameHeader").val(), tel = $("#phoneHeader").val(),
                            mail = $("#mailHeader").val();
                        let conditions = [$.isNumeric(botComiss), botComiss >= 0, botComiss < 100];
                        for (var i = 0; i < conditions.length; i++) {
                            if (conditions[i] === false) {
                                reject("Проверьте правильность всех полей");
                                break;
                            }
                        }
                        if (i === conditions.length) {
                            resolve([botComiss, firstname, lastname, tel, mail]);
                        }
                    });
                }
            }).then(function (resolve) {
                if (resolve) {
                    let r1 = function () {
                        return $.ajax({
                            url: apiServer + '/userSettingUp',
                            type: 'post',
                            headers: {'authorization': token},
                            data: '&percentBOT=' + resolve[0] * 0.01,
                            success: function () {
                                botComission = resolve[0] * 0.01;
                            },
                            error: function (err) {
                                swal("Упс", "Что-то пошло не так \n" + JSON.stringify(err), "success");
                            }
                        });
                    };
                    let r2 = function () {
                        return $.ajax({
                            url: apiServer + '/anti_agent_up',
                            type: 'post',
                            headers: {'authorization': token},
                            data: "id=" + user._id + '&agentname=' + username + "&first_name=" + resolve[1] + "&last_name=" + resolve[2] +
                            "&call=" + resolve[3] + "&mail=" + resolve[4],
                            success: function () {
                            },
                            error: function (err) {
                                swal("Упс", "Что-то пошло не так \n" + JSON.stringify(err), "success");
                            }
                        });
                    };
                    $.when(r1(), r2()).done(function () {
                        swal("Успех", "Настройки сохранены", "success");
                    });
                }
            });
        });
    }

    function transform(str) {
        if (str === undefined || str === 'undefined') {
            return "";
        } else {
            return str;
        }
    }

    function clearAllOperations() {
        console.log('click');
        swal({
            title: "Предупреждение",
            text: "Это удалит всю вашу историю операций, обнулит остатки, а так же очистит все отчеты. Ваши резервы при этом сохранятся",
            type: "warning",
            showCancelButton: true,
            focusCancel: true
        }).then(function (ok) {
            if (ok) {
                clearHistory(function (respond) {
                    if (respond === 1) {
                        swal("Успех", "История была полностью очищенна", "success");
                    } else {
                        swal("Упс", "Произошла ошибка при выполнении операции", "error");
                    }
                });
            }
        });
    }
</script>
