<button id="sidebar_minimize"><i class="fa fa-th-list" aria-hidden="true"></i></button>
<div class="sidebar col-md-2" id="sidebar_block">
    <div class="sidebar_lists">
        <button class="accordion">Резервы <img id="reserves_loader" src="../img/loader.gif" width="22px"></button>
        <ul class="accordion_panel" id="reserves">
        </ul>
        <button class="accordion">Дебеторы <img id="credit_loader" src="../img/loader.gif" width="22px"></button>
        <ul class="accordion_panel" id="credits">
        </ul>
        <button class="accordion">Кредиторы <img id="debit_loader" src="../img/loader.gif" width="22px"></button>
        <ul class="accordion_panel" id="debits">
        </ul>
        <div class="hidden" id="mentor_invites">
            <button class="accordion" id="mentor_button">Приглашения</button>
            <ul class="accordion_panel" id="mentor">
            </ul>
        </div>
        <div class="totalRemainders">
            <ul id="totalRemainders">
            </ul>
        </div>
    </div>
</div>
<script>
    var creditsSidebar = [], debetsSidebar = [], reservesRemainders = [],
        mentorInvites = [], mentorsId = {}, currenciesSidebar = [], totalRemainders = {};

    buildCachedTabs();
    //accordion lists toggle
    var acc = document.getElementsByClassName('accordion');
    for (var i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
                sessionStorage.setItem('headerPanel' + panel.id, 'false');
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                sessionStorage.setItem('headerPanel' + panel.id, 'true');
            }
        };

        if (sessionStorage.getItem('headerPanel' + acc[i].nextElementSibling.id) === 'true') {
            $(acc[i]).click();
        }
    }

    //minimize button toggle
    document.getElementById('sidebar_minimize').onclick = function () {
        this.classList.toggle("active");
        var sidebar = document.getElementById('sidebar_block');
        if (sidebar.style.maxWidth) {
            sidebar.style.maxWidth = null;
            localStorage.setItem('sidebar_minimize', 'false')
        } else {
            sidebar.style.maxWidth = 0 + "px";
            localStorage.setItem('sidebar_minimize', 'true')
        }
    };

    //auto-minimize if required
    if (localStorage.getItem('sidebar_minimize') === 'true') {
        var sidebar = $("#sidebar_block"), minButton = $("#sidebar_minimize");
        sidebar.addClass('notransition');
        minButton.addClass('notransition');
        sidebar[0].offsetHeight;
        minButton[0].offsetHeight;
        minButton.click();
        setTimeout(function () {
            sidebar.removeClass('notransition');
            minButton.removeClass('notransition');
            }, 200);
    }

    getCredits(function (data) {
        $.each(data.credit, function (key, value) {
            creditsSidebar.push(value);
        });
        $.each(data.debet, function (key, value) {
            debetsSidebar.push(value);
        });
        buildCreditTab();
        buildDebitTab();
    });

    var q1 = getRemainders(function (data) {
        $.each(data, function (key, value) {
            reservesRemainders.push(value);
            if (value.currency in totalRemainders) {
                totalRemainders[value.currency] +=  value.remainder;
            } else {
                totalRemainders[value.currency] =  value.remainder;
            }
        });
    });

    var q2 = getCurrencyList(function (data) {
        currenciesSidebar = data;
    });

    $.when(q1, q2).done(function () {
        buildRemainderTab();
        buildTotalRemainders();
    });

    getMentorInvites(function (data) {
        $.each(data, function (key, value) {
            mentorInvites.push(value);
        });
        buildMentorInvitesTab();
    });

    function buildMentorInvitesTab() {
        if (mentorInvites.length !== 0) {
            $("#mentor").html('');
            var operational_data = "", rowCount = 0;
            $.each(mentorInvites, function (key, value) {
                mentorsId[rowCount] = value;
                operational_data += '<li id="listedInvite' + rowCount + '">';
                operational_data += value.mentor + ' приглашает вас стать его учеником, ' + value.percent + "% от финреза в " + value.currency;
                operational_data += ' <a class="sidebar_icon green" onclick="replyToMentorInvite(' + rowCount + ', true' + ')"><i class="fa fa-check" aria-hidden="true"></i></a>';
                operational_data += ' <a class="sidebar_icon red" onclick="replyToMentorInvite(' + rowCount + ', false' + ')"><i class="fa fa-ban" aria-hidden="true"></i></a>';
                operational_data += '</li>';
                rowCount++;
            });
            $("#mentor_button").html("Приглашения (" + mentorInvites.length + ")");
            $("#mentor").append(operational_data);
            $("#mentor_invites").show();
        }
    }

    function buildRemainderTab() {
        if (reservesRemainders.length !== 0) {
            $("#reserves").html('');
            var operational_data = "", numberLimiter = 2;
            $.each(reservesRemainders, function (key, value) {
                operational_data += '<li>';
                numberLimiter = (currenciesSidebar.find(function (a) {
                    return a.currency === value.currency
                }).isCrypto === true) ? 8 : 2;
                operational_data += "<span class='align_left col-md-5'>" + value.title + ':</span><span class="align_right col-md-7">' +
                    value.remainder.toFixed(numberLimiter) + ' ' + value.currency + "</span>";
                operational_data += '</li>';
            });
            $("#reserves").append(operational_data);
        } else {
            $("#reserves").html('<li>Нет резервов</li>');
        }
        sessionStorage.setItem('sidebarReserves', $("#reserves").html());
        $("#reserves_loader").hide();
    }

    function buildCreditTab() {
        if (creditsSidebar.length !== 0) {
            $("#credits").html('');
            var operational_data = "", creditList = {}, currentUser = "", creditSum = 0;
            creditsSidebar.sort(function (a1, a2) {
                return a1.debet.localeCompare(a2.debet);
            });
            $.each(creditsSidebar, function (key, value) {
                if (value.debet === currentUser && currentUser !== "") {
                    creditSum += value.debts;
                } else {
                    creditSum = value.debts;
                }
                currentUser = value.debet;
                creditList[currentUser] = creditSum;
            });
            $.each(creditList, function (key, value) {
                operational_data += '<li>';
                operational_data += '<span class=\'align_left col-md-5\'>' + key + '</span><span class=\'align_right col-md-7\'> ' + value.toFixed(2) + '</span>';
                operational_data += '</li>';
            });
            $("#credits").append(operational_data);
        } else {
            $("#credits").html('<li>Нет должников</li>');
        }
        sessionStorage.setItem('sidebarCredits', $("#credits").html());
        $("#credit_loader").hide();
    }

    function buildDebitTab() {
        if (debetsSidebar.length !== 0) {
            $("#debits").html('');
            var operational_data = "", debitList = {}, currentUser = "", debitSum = 0;
            debetsSidebar.sort(function (a1, a2) {
                return a1.credit.localeCompare(a2.credit);
            });
            $.each(debetsSidebar, function (key, value) {
                if (value.credit === currentUser && currentUser !== "") {
                    debitSum += value.debts;
                } else {
                    debitSum = value.debts;
                }
                currentUser = value.credit;
                debitList[currentUser] = debitSum;
            });
            $.each(debitList, function (key, value) {
                operational_data += '<li>';
                operational_data += '<span class=\'align_left col-md-5\'>' + key + '</span><span class=\'align_right col-md-7\'> ' + value.toFixed(2) + "</span>";
                operational_data += '</li>';
            });
            $("#debits").append(operational_data);
        } else {
            $("#debits").html('<li>Нет долгов</li>');
        }
        sessionStorage.setItem('sidebarDebits', $("#debits").html());
        $("#debit_loader").hide();
    }

    function buildCachedTabs() {
        if (sessionStorage.getItem('sidebarReserves') !== null) {
            $("#reserves").html(sessionStorage.getItem('sidebarReserves'));
            $("#reserves_loader").hide();
        }
        if (sessionStorage.getItem('sidebarCredits') !== null) {
            $("#credits").html(sessionStorage.getItem('sidebarCredits'));
            $("#credit_loader").hide();
        }
        if (sessionStorage.getItem('sidebarDebits') !== null) {
            $("#debits").html(sessionStorage.getItem('sidebarDebits'));
            $("#debit_loader").hide();
        }
    }

    function buildTotalRemainders() {
        if (Object.keys(totalRemainders).length !== 0) {
            $("#totalRemainders").html("");
            var operational_data = "Всего:";
            $.each(totalRemainders, function (key, value) {
                var numberLimiter = (currenciesSidebar.find(function (a) {
                    return a.currency === key
                }).isCrypto === true) ? 8 : 2;
                operational_data += "<li><span class='align_left col-md-5'>" + key + "</span><span class='align_right col-md-7'>" +
                value.toFixed(numberLimiter) + "</span>";
            });
            $("#totalRemainders").html(operational_data);
        } else {
            $("#totalRemainders").html("");
        }
    }

    function replyToMentorInvite(id, reply) {
        var replyText = (reply === true) ? "стать" : "отказаться быть";
        swal({
            title: "Подтверждение",
            text: "Вы уверены, что хотите " + replyText + " учеником " + mentorsId[id].mentor + "?",
            buttons: true,
            showCancelButton: true,
            type: "warning",
            icon: "warning"
        }).then(function (isPressed) {
            if (isPressed) {
                $.ajax({
                    url: apiServer + '/consent',
                    type: 'post',
                    headers: {'authorization': token},
                    data: "&status=" + reply,
                    success: function (data) {
                        swal("Успех", "Операция проведена успешно", "success");
                        delete mentorInvites[id];
                        if (Object.keys(mentorInvites).length === 0) {
                            $("#mentor_invites").hide();
                        } else {
                            var buttonString = (Object.keys(mentorInvites).length > 0) ? "(" + Object.keys(mentorInvites).length + ")" : "";
                            $("#mentor_button").html("Приглашения " + buttonString);
                        }
                        $("#listedInvite" + id).hide(400);
                    },
                    error: function (err) {
                        swal("Ошибка " + err.status, "Что-то пошло не так", "error");
                    }
                });
            }
        });
    }
</script>
