<script type="text/javascript" src="../js/vendor/nhpup.js"></script>
<div class="sidebar2 sidebar_block">
    <div class="sidebar2_block">
        <div class="sidebar2_title">
            <div class="left_line"></div>
            <span>Средние курсы</span>
        </div>
        <div>
            <ul id="avg_sidebar2" class="sidebar2_list">
            </ul>
        </div>
    </div>
    <div class="sidebar2_block">
        <div class="sidebar2_title">
            <div class="left_line"></div>
            <span>Последние операции</span>
        </div>
        <div>
            <ul id="sidebar2_history" class="sidebar2_list">
            </ul>
        </div>
    </div>
</div>
<script>
    var reservesSidebar2 = [], currenciesSidebar2 = [];


    reBuildSidebar2Content();

    function reBuildSidebar2Content() {
        var q1 = getCurrencyList(function (data) {
            currenciesSidebar2 = data;
        });

        var q2 = getReserveList(function (data) {
            reservesSidebar2 = data;
        });

        $.when(q1, q2).done(function () {
            buildAverageCoursesBlock();
            buildHistoryBlock();
        });
    }

    function buildAverageCoursesBlock() {
        let operationalData = "";
        $.each(reservesSidebar2, function (key, value) {
            if (value.responsible === username && currenciesSidebar2.find(function (a) {
                    return a.currency === value.currency;
                }).isCrypto) {
                operationalData += '<li class="row">' + '<span class="col-md-2">' + value.currency + '</span><span class="align_left col-md-5"> ' + value.title + ':</span><span class="align_right col-md-5">' + value.average_course.toLocaleString('ru-RU', {
                    maximumFractionDigits: 8
                }) + '</span></li>'
            }
        });
        $("#avg_sidebar2").html(operationalData);
    }

    function buildHistoryBlock() {
        let currDateSidebar = new Date(),
            day = (currDateSidebar.getDate() < 10) ? "0" + currDateSidebar.getDate() : currDateSidebar.getDate(),
            month = (currDateSidebar.getMonth() + 1 < 10) ? "0" + (currDateSidebar.getMonth() + 1) : currDateSidebar.getMonth() + 1,
            year = currDateSidebar.getFullYear();
        $.ajax({
            url: apiServer + "/journal",
            type: 'get',
            headers: {'authorization': token},
            data: "&begin=0&end=5" + "&dateEnd=" + year + "-" + month + "-" + day + "&dateBegin=" + "&user=" + username,
            success: function (data) {
                var operation_data = '';
                $("#sidebar2_history").html("");
                $.each(data, function (key, value) {
                    let operation = value.operation, popUpData = "", datet = "";
                    switch (operation) {
                        case "pay":
                            //popup message
                            popUpData = "\'";
                            datet = value.date.substring(0, value.date.indexOf('T')).split("-");
                            popUpData += datet[2] + "/" + datet[1] + "/" + datet[0] + ": " +
                                value.paymCrypto + " <i class=\\'fa fa-long-arrow-left\\' aria-hidden=\\'true\\'></i> " + value.paym +
                                " | куплено " + value.btc + " " + reservesSidebar.find(function (a) {
                                    return a.title === value.paymCrypto;
                                }).currency +
                                " за " + value.rub + " " + reservesSidebar.find(function (a) {
                                    return a.title === value.paym;
                                }).currency +
                                " по курсу " + value.course + " (новый средний курс равен " + reservesSidebar.find(function (a) {
                                    return a.title === value.paymCrypto;
                                }).average_course.toFixed(2) + ") " +
                                ((value.commiss > 0) ? "(+ком." + value.commiss + ")" : "") + ((value.bot_commiss > 0) ? ", сервисный сбор " + value.bot_commiss : "") +
                                ", финрез по операции: " + value.cur_fin_res +
                                "\'";
                            //block content
                            operation_data += '<li onmouseover="nhpup.popup(' + popUpData + ',' + "{'width' : 'auto'}" + ')"><b>Куплено:</b> <span class="green"><b>' + value.btc.toLocaleString('ru-RU', {
                                maximumFractionDigits: 8
                            }) + '</b></span> за <span class="red"><b>' + value.rub.toLocaleString('ru-RU', {
                                maximumFractionDigits: 2
                            }) + ' RUB' + '</b></span> по курсу <b>' + value.course.toLocaleString('ru-RU', {
                                maximumFractionDigits: 2
                            }) + '</b></li>';
                            break;
                        case "sell":
                            //popup message
                            popUpData = "\'";
                            datet = value.date.substring(0, value.date.indexOf('T')).split("-");
                            popUpData += datet[2] + "/" + datet[1] + "/" + datet[0] + ": " +
                                value.paym + " <i class=\\'fa fa-long-arrow-left\\' aria-hidden=\\'true\\'></i>></i> " + value.paymCrypto +
                                " | продано " + value.btc + " " + reservesSidebar.find(function (a) {
                                    return a.title === value.paymCrypto;
                                }).currency +
                                " за " + value.rub + " " + reservesSidebar.find(function (a) {
                                    return a.title === value.paym;
                                }).currency +
                                " по курсу " + value.course +
                                ((value.commiss > 0) ? " (+ком." + value.commiss + ")" : "") + ((value.bot_commiss > 0) ? ", сервисный сбор " + value.bot_commiss : "") +
                                ", финрез по операции: " + value.cur_fin_res +
                                "\'";
                            operation_data += '<li onmouseover="nhpup.popup(' + popUpData + ',' + "{'width' : 'auto'}" + ')"><b>Продано:</b> <span class="red"><b>' + value.btc.toLocaleString('ru-RU', {
                                maximumFractionDigits: 8
                            }) + '</b></span> за <span class="green"><b>' + value.rub.toLocaleString('ru-RU', {
                                maximumFractionDigits: 2
                            }) + '</span> RUB' + '</b> по курсу <b>' + value.course.toLocaleString('ru-RU', {
                                maximumFractionDigits: 2
                            }) + '</b></li>';
                            break;
                        case "translate":
                            //define responsible for initiation of transfer
                            var sourceRes = reservesSidebar.find(function (a) {
                                if (a.title === value.source) {
                                    return true;
                                }
                            });
                            if (!sourceRes) {
                                sourceRes = value.source;
                            } else {
                                sourceRes = (sourceRes.responsible === username) ? sourceRes.responsible : sourceRes.owner;
                            }
                            popUpData = "\'";
                            datet = value.date.substring(0, value.date.indexOf('T')).split("-");
                            popUpData += datet[2] + "/" + datet[1] + "/" + datet[0] + ": "
                                + value.destination + " <i class=\\'fa fa-long-arrow-left\\' aria-hidden=\\'true\\'></i> " + value.source
                                + " | " + value.transaction + " " + value.currency + ((value.commiss > 0) ? "(+ком." + value.commiss + ")" : "")
                                + ((value.percent > 0) ? " под процент " + value.percent : "") + "\'";
                            operation_data += '<li onmouseover="nhpup.popup(' + popUpData + ',' + "{'width' : 'auto'}" + ')"><b>Перевод:</b> ' + ((sourceRes === username) ? 'отправлено <span class="red"><b>' : 'получено <span class="green"><b>') + value.transaction.toLocaleString('ru-RU', {
                                maximumFractionDigits: 8
                            }) + '</span> ' + value.currency + '</b> на <b>' + value.destination + '</b></li>';
                            break;
                    }
                });
                $("#sidebar2_history").html(operation_data);
            }
        });
    }

    function buildCachedTabs() {
        if (sessionStorage.getItem('sidebarReserves') !== null) {
            $("#reserves").html(sessionStorage.getItem('sidebarReserves'));
            $("#reserves_loader").hide();
        }
        if (sessionStorage.getItem('sidebarCredits') !== null) {
            $("#credits").html(sessionStorage.getItem('sidebarCredits'));
            $("#credit_loader").hide();
        }
        if (sessionStorage.getItem('sidebarDebits') !== null) {
            $("#debits").html(sessionStorage.getItem('sidebarDebits'));
            $("#debit_loader").hide();
        }
    }
</script>
