@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.hidden {
    display: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.header {
    text-align: center;
    font-size: 3em;
    padding: 5px;
    color: #444;
}

.wrapper {
    margin: 100px auto;
    width: 800px;
    box-shadow: -2px 2px 0.5em rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.button_pane table {
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

.button_pane td {
    text-align: left;
    width: 140px;
    height: 45px;
}

.button_pane tr:nth-child(even) td {
    border-right: rgb(170, 187, 212) 2px solid;
}

.button_pane tr:nth-child(even) td:last-child {
    border: none;
}

.button_pane .menu_header td {
    text-align: left;
    font-size: 1.35em;
    font-weight: bold;
    color: rgba(59, 95, 134, 0.56);
    border-bottom: rgba(145, 168, 202, 0.7) solid;
    border-radius: 6%;
}

.button_pane a {
    display: inline-block;
}

.button {
    padding: 5px;
    min-width: 100px;
    min-height: 40px;
    color: #555;
    font: inherit;
    line-height: 1em;
    background-color: rgba(211, 211, 211, 0.25);
    width: 100%;
}

.button:hover {
    color: #eaf5ff;
    background-color: #424242;
    transition-duration: 0.4s;
    text-shadow: 1px 1px 1px rgba(144, 224, 255, 0.52);
    cursor: pointer;
}

button.quick_access {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: rgba(170, 170, 171, 0.44);
    border: none;
    transition-duration: 0.4s;
    margin-left: 8px;
}

button.quick_access:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.81);
    transition-duration: 0.4s;
    color: white;
}

.quick_access.unaccepted {
    background-color: red;
    color: white;
}

.exit_button {
    width: auto;
    padding: 5px 15px;
    border-radius: 7px;
    margin: 15px 0;
}

.submit_button {
    width: auto;
    padding: 5px 15px;
    margin-top: 10px;
}

.submit_button:disabled {
    background-color: rgb(167, 167, 167);
    border: rgba(17, 17, 17, 0.41) outset 1px;
}

.centered {
    text-align: center;
}

.input_block {
    display: inline-block;
    width: 47%;
    padding: 10px;
    margin-top: 7px;
    background-color: rgba(234, 234, 232, 0.5);
    border-radius: 5px;
    text-align: center;
    font-size: 1.25em;
}

.middle {
    margin: 7px auto;
    display: block;
}

.info_block {
    padding: 5px;
    margin: 5px auto;
    background-color: rgba(191, 212, 232, 0.75);
    border-radius: 9px;
    text-align: center;
    font-size: 0.95em;
}

input[readonly] {
    background-color: rgba(246, 255, 206, 0.36);
    border: rgba(125, 96, 19, 0.3) outset 2px;
    border-radius: 5px;
    text-align: center;
}

.date_event a {
    background: #42B373 none !important;
    color: #ffffff !important;
}

.user_pane {
    text-align: right;
    font-size: 15px;
}

.green {
    color: #05cd00;
}

.red {
    color: #cd3100;
}

.report_table {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    margin-top: 15px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.report_table th {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 19px;
    font-weight: 100;
    padding: 15px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    max-width: 100px;
}

.report_table th:first-child {
    border-top-left-radius: 3px;
}

.report_table th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

.report_table tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.report_table tr:first-child {
    border-top: none;
}

.report_table tr:last-child {
    border-bottom: none;
}

.report_table tr:nth-child(odd) td {
    background: #EBEBEB;
}

.report_table tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

.report_table tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

.report_table td {
    background: #FFFFFF;
    padding: 5px 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

.report_table td:last-child {
    border-right: 0;
}

.report_table .overall:nth-child(odd) td {
    background-color: rgba(89, 208, 0, 0.28);
}

.report_table .overall td {
    background-color: rgba(89, 208, 0, 0.28);
}

.report_table tr.report-user-header td {
    background-color: rgba(250, 235, 215, 0.85);
    color: rgb(106, 163, 251);
    font-weight: 900;
    padding: 10px 0;
}

.report_table tr:nth-child(odd):hover td {
    background: #4E5066;
}

.report_table tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
}

.handbook_table {

}

.preload {
    display: none;
}

.handbook_table {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    margin: 15px auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.handbook_table tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

.handbook_table th {
    color: rgba(22, 51, 80, 0.87);
    background: rgba(216, 229, 255, 0.43);
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    border-left: 1px solid #343a45;
    font-size: 17px;
    font-weight: 100;
    padding: 7px 15px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    max-width: 130px;
}

.handbook_table td {
    background: rgba(166, 169, 46, 0.1);
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

.handbook_table tr.owner td {
    background: rgba(107, 218, 81, 0.31);
}

.handbook_form {
    border: 3px ridge rgba(177, 174, 144, 0.31);
    background-color: rgba(206, 206, 188, 0.17);
    padding: 10px;
    border-radius: 5px;
}

input.validate:invalid:not(:placeholder-shown) {
    background-color: rgba(255, 0, 0, 0.08);
}

input.validate:valid:not(:placeholder-shown) {
    background-color: rgba(41, 255, 0, 0.28);
}

.handbook_table tr td a.delete_button {
    position: relative;
    float: right;
    display: none;
    text-indent: -100%;
    white-space: nowrap;
    color: #e41510;
    cursor: pointer;
    text-align: right;
}

.handbook_table tr:hover td a.delete_button {
    display: inline-block;
}

.transfer_table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.transfer_table tr {
    border-bottom: rgba(23, 22, 12, 0.42) solid 1px;
}

.transfer_table tr td {
    background-color: rgba(29, 29, 29, 0.11);
    width: 25%;
    transition-duration: 0.5s;
    padding: 10px 0;
}

.transfer_participant {
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.transfer_table tr td:nth-child(odd) {
    background-color: rgba(43, 35, 12, 0.19);
}

.transfer_table .description {
    display: block;
    max-height: 2.5em;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.66);
    padding: 0 15px;
    overflow: hidden;
    text-align: left;
}

.transfer_table span.transfer_data {
    width: 100%;
    display: block;
    line-height: 1.5em;
    font-size: 1.2em;
}

.transfer_arrow {
    text-align: center;
    color: green;
    width: 25%;
    vertical-align: middle;
}

.transfer_table tr td:last-child {
    width: 15%;
    text-align: center;
    font-size: 20px;
}

#report_table tr td button.accept {
    display: none;
}

#report_table tr td button.decline {
    display: none;
}

#unaccepted_table tr td button.accept {
    position: relative;
    display: none;
    color: #007700;
    cursor: pointer;
    transform: translateY(-76%);
    padding: 10px 50px;
    border-radius: 7px;
    border: 2px solid #007700;
    background-color: #c6ffb6;
    font-size: 19px;
    margin-left: -100%;
}

#unaccepted_table tr td button.decline {
    position: relative;
    display: none;
    color: #85000b;
    cursor: pointer;
    transform: translateY(-76%);
    padding: 10px 50px;
    border-radius: 7px;
    border: 2px solid #85000b;
    background-color: #ffa191;
    font-size: 19px;
    margin-left: 25%;
}

#unaccepted_table tr:hover td button {
    display: inline-block;
    transition-duration: 0.5s;
}

#unaccepted_table tr:hover td {
    background-color: rgba(88, 88, 88, 0);
    transition-duration: 0.5s;
}

.table_row_overlay {
    position: absolute;
    left: 50%;
}

.sidebar {
    position: fixed;
    background-color: rgba(241, 242, 243, 0.22);
    height: 100%;
    top: 0;
    left: 0;
    border-right: 1px ridge;
    box-shadow: 1px 0 4px rgba(6, 3, 3, 0.21);
    padding: 0;
}

option {
    padding: 4px;
}

option.agent {
    background-color: rgba(124, 218, 93, 0.69);
    border-radius: 10px;
}

option.reserve {
    background-color: rgba(156, 169, 167, 0.69);
    border-radius: 10px;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

.accordion_panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    list-style: none;
    margin: 0;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}