html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family: Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.hidden {
    display: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.header {
    text-align: center;
    font-size: 3em;
    padding: 5px;
    color: #444;
}

.wrapper {
    margin: auto;
    width: 800px;
    box-shadow: -2px 2px 0.5em rgba(0, 0, 0, 0.5);
    padding: 10px;
    background: rgba(159, 202, 255, 0.1) url("../img/bright-squares.png") no-repeat;
    background-size: 100%;
}
.button_pane table {
    width: 100%;
    border-spacing: 15px;
    border-collapse: separate;
}

.button_pane td {
    text-align: center;
}
.button_pane .menu_header td {
    text-align: left;
    font-size: 1.35em;
    font-weight: bold;
    color: rgba(59, 95, 134, 0.56);
    border-bottom: rgba(145, 168, 202, 0.7) solid;
    border-radius: 6%;
}
.button {
    padding: 5px;
    width: 140px;
    height:45px;
    color: #555;
}

.exit_button {
    width: auto;
    padding: 5px 15px;
    border-radius: 7px;
    margin: 15px 0;
}

.submit_button {
    width: auto;
    padding: 5px 15px;
    margin-top: 10px;
}

.centered {
    text-align: center;
}

.input_block {
    display: inline-block;
    width: 47%;
    padding: 10px;
    margin-top: 7px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    font-size: 1.25em;
}

.middle {
    margin: 7px auto;
    display: block;
}

.info_block {
    padding: 5px;
    margin: 5px auto;
    background-color: rgba(191, 212, 232, 0.75);
    border-radius: 9px;
    text-align: center;
    font-size: 0.95em;
}

input[readonly] {
    background-color: rgba(246, 255, 206, 0.36);
    border: rgba(125, 96, 19, 0.3) outset 2px;
    border-radius: 5px;
    text-align: center;
}

.green {
    color: #05cd00;
}

.red {
    color: #cd3100;
}


.report_table {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    margin-top: 15px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.report_table th {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 19px;
    font-weight: 100;
    padding: 15px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    max-width: 100px;
}

.report_table th:first-child {
    border-top-left-radius:3px;
}

.report_table th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

.report_table tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.report_table tr:first-child {
    border-top:none;
}

.report_table tr:last-child {
    border-bottom:none;
}

.report_table tr:nth-child(odd) td {
    background:#EBEBEB;
}

.report_table tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

.report_table tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

.report_table td {
    background:#FFFFFF;
    padding: 5px 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

.report_table td:last-child {
    border-right: 0;
}

.report_table .overall:nth-child(odd) td {
    background-color: rgba(89, 208, 0, 0.28);
}
.report_table .overall td {
    background-color: rgba(89, 208, 0, 0.28);
}

.report_table tr.report-user-header td {
    background-color: rgba(250, 235, 215, 0.85);
    color: rgb(106, 163, 251);
    font-weight: 900;
    padding: 10px 0;
}

.report_table tr:nth-child(odd):hover td {
    background:#4E5066;
}

.report_table tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}

.handbook_table {

}

.preload {
    display: none;
}

.handbook_table {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    margin: 15px auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.handbook_table tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

.handbook_table th {
    color: rgba(22, 51, 80, 0.87);
    background: rgba(216, 229, 255, 0.43);
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 17px;
    font-weight: 100;
    padding: 7px 15px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    max-width: 130px;
}

.handbook_table td {
    background: rgba(166, 169, 46, 0.1);
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}
.handbook_form {
    border: 3px ridge rgba(177, 174, 144, 0.31);
    background-color: rgba(206, 206, 188, 0.17);
    padding: 10px;
    border-radius: 5px;
}

input:invalid:not(:placeholder-shown) {
    background-color: rgba(255, 0, 0, 0.08);
}

input:valid:not(:placeholder-shown) {
    background-color: rgba(41, 255, 0, 0.28);
}

