{% extends "layout.html" %}
    
    {% block main %}
    <main class="content">
        <section class="panel panel-sidebar">Side</section>
        
        <section class="panel panel-finances">
            <div class="panel__section reserves">
                <section class="finances__minimized">
                    <div class="finances__header finances__header_max">Резервы&nbsp;&#9658;</div>
                    <aside class="finances__minimized__status">
                        <div class="status__row"><div style="order:0;" class="finances__minimized__cell status__currency">RUB&nbsp;&nbsp;&nbsp;</div><div style="order:0;" class="finances__minimized__cell status__value">931 349,00</div></div>
                        <div class="status__row"><div style="order:1;" class="finances__minimized__cell status__currency">BTC&nbsp;&nbsp;&nbsp;</div><div style="order:1;" class="finances__minimized__cell status__value">1,03338000</div></div>
                        <div class="status__row"><div style="order:2;" class="finances__minimized__cell status__currency">EUR&nbsp;&nbsp;&nbsp;</div><div style="order:2;" class="finances__minimized__cell status__value">0,00</div></div>
                    </aside>
                </section>
                <section class="finances__maximized">
                    <div class="finances__header">Мои резервы&nbsp;&#9658;</div>
                    <div class="finances__separator finances__separator_opened"></div>
                    <!-- content -->
                    <div class="finances__maximized__wrap">
                        <div class="finances__row">
                            <div class="finances__source">EgorTwoBTC:&nbsp;&nbsp;&nbsp;&nbsp;</div>
                            <div class="finances__value">1,03338000 BTC</div>
                        </div>
                        <div class="finances__row">
                                <div class="finances__source">mnmmnmnmmnm:&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                <div class="finances__value">0,00 EUR</div>
                        </div>
                        <div class="finances__row">
                                <div class="finances__source">Egor2lsafdj:&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                <div class="finances__value">999 931 349,00 RUB</div>
                        </div>
                    </div>
                    <div class="finances__header">Требуют подтверждения&nbsp;&#9658;</div>
                    <div class="finances__separator"></div>
                    <div class="finances__header">Мои резервы в подотчете&nbsp;&#9658;</div>
                    <div class="finances__separator"></div>
                    <div class="finances__header">У меня в подотчете&nbsp;&#9658;</div>
                    <div class="finances__separator"></div>
                </section>
            </div>
            <div class="panel__section section__finances">
                <section class="finances__minimized">
                    <div class="finances__header finances__header_max">Дебиторы&nbsp;&#9658;</div>
                    <aside class="finances__minimized__status">
                        <div class="status__row"><div style="order:0;" class="finances__minimized__cell status__currency">RUB&nbsp;&nbsp;&nbsp;</div><div style="order:0;" class="finances__minimized__cell status__value">931 349,00</div></div>
                        <div class="status__row"><div style="order:1;" class="finances__minimized__cell status__currency">BTC&nbsp;&nbsp;&nbsp;</div><div style="order:1;" class="finances__minimized__cell status__value">1,03338000</div></div>
                        <div class="status__row"><div style="order:2;" class="finances__minimized__cell status__currency">EUR&nbsp;&nbsp;&nbsp;</div><div style="order:2;" class="finances__minimized__cell status__value">0,00</div></div>
                    </aside>
                </section>
            </div>
            <div class="panel__section section__finances">
                    <section class="finances__minimized">
                        <div class="finances__header finances__header_max">Кредиторы&nbsp;&#9658;</div>
                        <aside class="finances__minimized__status">
                            <div class="status__row"><div style="order:0;" class="finances__minimized__cell status__currency">RUB&nbsp;&nbsp;&nbsp;</div><div style="order:0;" class="finances__minimized__cell status__value">931 349,00</div></div>
                            <div class="status__row"><div style="order:1;" class="finances__minimized__cell status__currency">BTC&nbsp;&nbsp;&nbsp;</div><div style="order:1;" class="finances__minimized__cell status__value">1,03338000</div></div>
                            <div class="status__row"><div style="order:2;" class="finances__minimized__cell status__currency">EUR&nbsp;&nbsp;&nbsp;</div><div style="order:2;" class="finances__minimized__cell status__value">0,00</div></div>
                        </aside>
                    </section>
                </div>
        </section>
        
        
        <section class="panel panel-main">
            <div class="panel-main__wrap">
                <nav class="main__breadcrumbs">
                    <ul class="main__breadcrumbs">
                        <li><a href=#>Главная</a></li>
                        <li><a href=#>Настройки профиля</a></li>
                    </ul>
                </nav>
                <article class="main__chart">
                    <img src="/images/chart-mock.png" width=100% alt="Mocked chart">
                    <p class="chart__name">Название графика*</p>
                </article>
                <div class="main__buttons">
                    <a href="#"><div class="main__button">Операции</div></a>
                    <a href="#"><div class="main__button">Справочник</div></a>
                    <a href="#"><div class="main__button">Статистика</div></a>
                    <a href="#"><div class="main__button">Журнал операций</div></a>
                    <a href="#"><div class="main__button">Отчет</div></a>
                </div>
                <div class="main__forms">
                    <div class="main__form main__forms__buy">
                        <div class="main__form__header">Покупка</div>
                        <form class="main__form__regular">
                            <div><label class="main__form__label">Курс сделки</label> <input type="text" name="" class="main__form__input"></div>
                            <div><label class="main__form__label">Резерв зачисления</label> <input type="text" name="" class="main__form__input"></div>
                            <div><label class="main__form__label">Поступило</label> <input type="text" name="" class="main__form__input"></div>
                            <div><label class="main__form__label">Сервисный сбор</label> <input type="text" name="" class="main__form__input"></div>
                            <div><label class="main__form__label">Резерв списания</label> <input type="text" name="" class="main__form__input"></div>
                            <div><label class="main__form__label">Продано BTC</label> <input type="text" name="" class="main__form__input"></div>
                            <div><label class="main__form__label">Комиссия</label> <input type="text" name="" class="main__form__input"></div>
                            <div><input type="date" name="" class="main__form__input"><input type="time" name="" class="main__form__input"></div>
                            <div><input type="submit" value="Отправить" class="main__form__input__submit"></div>
                        </form>
                    </div>
                    <div class="main__form main__forms__sell">Продажа</div>
                    <!-- <div class="main__form main__forms__rate">Курсы</div>
                    <div class="main__form main__forms__stats">Статистика</div> -->
                </div>
            </div>
        </section>

        <section class="panel panel-info">
                <div>
                    <article class="panel__section">
                    <div class="panel-info__header"><div class="panel-info__header__text">Средние курсы</div></div>
                    <ul class="panel-info__ul">
                        <li class="panel-info__li">BTC EgorTwoBTC: 98 242,48</li>
                        <li>BTC EgorTwoBTC: 98 242,48</li>
                        <li>BTC EgorTwoBTC: 98 242,48</li>
                    </ul>
                    </article>
                    <article class="panel__section">
                        <div class="panel-info__header"><div class="panel-info__header__text">Последние операции</div></div>
                        <!-- TODO make it appear from the JS database file -->
                        <p class="panel-info__operation"><span class="info__operation-type">Продано</span>: 1 BTC за 1 000 000 000 RUB по курсу 1 000 000 000</p>
                        <p class="panel-info__operation"><span class="info__operation-type">Продано</span>: 1 BTC за 1 000 000 000 RUB по курсу 1 000 000 000</p>
                        <p class="panel-info__operation"><span class="info__operation-type">Продано</span>: 1 BTC за 1 000 000 000 RUB по курсу 1 000 000 000</p>
                        <p class="panel-info__operation"><span class="info__operation-type">Продано</span>: 1 BTC за 1 000 000 000 RUB по курсу 1 000 000 000</p>
                    </article>
                </div>
        </section>
    </main>

    {% endblock %}