{% extends "layout.html" %}
    
    {% block main %}
    <main class="content">
        <section class="panel panel-sidebar">Side</section>
        
        <section class="panel panel-finances">
            <div class="panel__section reserves">
                <div class="finances__minimized">
                    <div class="finances__minimized__header">Резервы&nbsp;&#9658;</div>
                    <aside class="finances__minimized__status">
                        <div class="status__row"><div style="order:0;" class="finances__minimized__cell">RUB&nbsp;&nbsp;&nbsp;</div><div style="order:0;" class="finances__minimized__cell">931 349,00</div></div>
                        <div class="status__row"><div style="order:1;" class="finances__minimized__cell">BTC&nbsp;&nbsp;&nbsp;</div><div style="order:1;" class="finances__minimized__cell">1,03338000</div></div>
                        <div class="status__row"><div style="order:2;" class="finances__minimized__cell">EUR&nbsp;&nbsp;&nbsp;</div><div style="order:2;" class="finances__minimized__cell">0,00</div></div>
                    </aside>
                </div>
            </div>
            <div class="debitors"></div>
            <div class="creditors"></div>
        </section>
        
        <section class="panel panel-main">Main</section>
        
        <section class="panel panel-info">
                <wrap class "panel-wrap">
                <article class="panel__section">
                    <div class="panel-info__header"><div class="panel-info__header__text">Средние курсы</div></div>
                    <ul class="panel-info__ul">
                        <li class="panel-info__li">BTC EgorTwoBTC: 98 242,48</li>
                        <li>BTC EgorTwoBTC: 98 242,48</li>
                        <li>BTC EgorTwoBTC: 98 242,48</li>
                    </ul>
                </article>
                <article class="panel__section">
                        <div class="panel-info__header"><div class="panel-info__header__text">Последние операции</div></div>
                        <!-- TODO make it appear from the JS database file -->
                        <p class="panel-info__operation"><span class="info__operation-type">Продано</span>: 1 BTC за 1 000 000 000 RUB по курсу 1 000 000 000</p>
                        <p class="panel-info__operation"><span class="info__operation-type">Продано</span>: 1 BTC за 1 000 000 000 RUB по курсу 1 000 000 000</p>
                        <p class="panel-info__operation"><span class="info__operation-type">Продано</span>: 1 BTC за 1 000 000 000 RUB по курсу 1 000 000 000</p>
                        <p class="panel-info__operation"><span class="info__operation-type">Продано</span>: 1 BTC за 1 000 000 000 RUB по курсу 1 000 000 000</p>
                </article>
                </wrap>
        </section>
    </main>

    {% endblock %}