<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="btc,trade">
    <meta name="description" content="btc trading website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="./vendor/css/vendor.css">
    <link rel="stylesheet" href="./styles/style.css">
    
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans:300,400&amp;subset=cyrillic-ext" rel="stylesheet">

    <title>BTC Trade</title> <!-- TODO change it later? -->
  </head>

  <body>

    <div class= "wrap">
      <!-- <div class="sidebar-left">
      </div> -->
      <div class="sidebar-top-wrap">
        <header class="sidebar-top">
          <div class="sidebar-top__section sidebar-top__logo">
            <!-- might consider changing it to a picture -->
            <span class="sidebar-top__logo_green">NN</span>Project
          </div>           
            <div class="sidebar-top__section sidebar-top__income">
              <span class="sidebar-top__income_header">Финрез сегодня</span></br>BTC EgorTwoBTC: 98 242,48
          </div>
          <div class="sidebar-top__section sidebar-top__button-controls">
            <button class="sidebar-top__button">Баланс <div class="sidebar-top__image sidebar-top__image_arrow-dropdown"></div></button>
            <button class="sidebar-top__button">Уведомления <div class="sidebar-top__image sidebar-top__image_arrow-dropdown"></div></button>
            <button class="sidebar-top__button"><div class="sidebar-top__image sidebar-top__image_avatar"></div>&nbsp;Hello, EGOR2!</button>
            <button class="sidebar-top__button"><div class="sidebar-top__image sidebar-top__image_logout"></div></button></a>
          </div>
        </header>
      </div>
        <div class = "wrap-main">
          {% block main %}

          {% endblock %}
        </div>
    </div>
  </body>

</html>
