.handbook__table {
  margin-top: 20px;
  width: 90%;
  //border-top:1px solid #e5eff8;
  //border-right:1px solid #e5eff8;
  margin:1em auto;
  border-collapse: collapse;
}
.handbook__table_small-text {
  font-size: 10pt;
}
.handbook__table__gray-row {
  background-color: rgba(226, 226, 226, 0.27);
}
.handbook__table_header {
  border-bottom: 1px solid rgba(48, 48, 48, 0.27);
  padding-bottom: 5px;
}
.handbook__table__cell {
  border-left:1px solid rgba(48, 48, 48, 0.27);
  padding:.3em .2em;
  text-align:center;
}
.handbook__table__cell_header {
  border-left:1px solid rgba(48, 48, 48, 0);
}
