/*
* === HEADER SETTINGS ===
*/
.sidebar-top {
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}
.sidebar__logo {
    float: left;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 24pt;
    margin-left: 55px;
    cursor: default; /* TODO gonna be a link */
}
.sidebar__logo_green {
    color: #51bab6;
}
