/*
* === HEADER SETTINGS ===
*/
.sidebar-top {
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
.sidebar-top-wrap {
    /*margin-left: 45px;*/
    margin-left: 0;
}
.sidebar-top__section {
    display: block;
    padding-left: 20px;
}
.sidebar-top__logo {
    float: left;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 24pt;
    cursor: default; /* TODO gonna be a link */
    width: 320px;
}
.sidebar-top__logo_green {
    color: #51bab6;
}

.sidebar-top__income {
    margin-top: 6px;
    border-left: 2px solid;
    border-color: #008786;
    display: inline-block;
    font-size: 10pt;
    width: 400px;
}
.sidebar-top__income_header {
    color: rgba(48, 48, 48, 0.89);
}
.sidebar-top__button-controls {
    display: inline;
    position: absolute;
    padding-top: 12px;
}
.sidebar-top__button {
    font-family: unset;
    font-size: 12pt;
    background-color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
}
.sidebar-top__button:hover {
    background-color: #fcfcfc;
}
.sidebar-top__image {
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
}
.sidebar-top__image_arrow-dropdown {
    background-image: url("/images/arrow-down.png");
    width: 7px;
    height: 8px;
}
.sidebar-top__image_avatar {
    background-image: url('/images/userpic-mock-small.png'); /*TODO mocked for now*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: #ffffff;
}
.sidebar-top__image_logout {
    background-image: url('/images/logout.svg'); /*TODO mocked for now*/
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}