/**
* PANELS SETTINGS
**/

.content {
    display: flex;
    /*padding-left:45px;*/
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.panel {
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff;
    min-height: 550px; /*TODO make it in percentages*/
    width: 300px;
    margin: 0;
    font-size: 10pt;
    font-weight: 300;
    padding-top: 20px;
}
.panel__section {
    padding-left: 20px;
    margin-bottom: 60px;
}
.panel-wrap {

}
/*PANEL SIDEBAR SETTINGS*/
.panel-sidebar {
    width: 45px;
}

.panel-finances {
    padding-right: 10px;
}
.finances__minimized {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}
.finances__minimized__header {
    flex: none;
}
.finances__minimized__status {
    display: flex;
    font-size: 8pt;
    column-count: 2;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-direction: column;
    padding-left: 125px;
}
.status__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.finances__minimized__cell {
    /*flex: 1;
    /*box-sizing: content-box;*/
    /*flex-grow: 1;*/
    /*width: 30%;  /* Default to full width*/
    overflow: hidden;  /*Or flex might break*/
    /*align-self: flex-end;*/
    /*justify-content: flex-end;*/
    /*list-style: none;*/
    /*border: solid @bw white;
    background: fade(slategrey,20%);*/
}
.status__currency {

}
.status__value {

}
/*PANEL MAIN SETTINGS*/
.panel-main {
    width: 680px;
}

/*PANEL INFO SETTINGS*/

.panel-info {
}
.panel-info__header {
    width: 260px;
    border-left: 1px solid rgba(72, 22, 52, 0.2);
    border-bottom: 1px solid rgba(72, 22, 52, 0.2); /*TODO make the line smoother*/
}
.panel-info__header__text {
    position: relative;
    top: -5px;
    left: 15px;
    font-weight: normal;
}
.panel-info__ul {
    font-weight: 300;
    padding-left: 20px;
}
.panel-info__li {
}
.panel-info__operation {
    padding-right: 60px;
}
.info__operation-type {
    font-weight: normal;
}