/**
* PANEL SETTINGS
**/

.content {
    display: flex;
    /*padding-left:45px;*/
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.panel {
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff;
    min-height: 550px; /*TODO make it in percentages*/
    width: 300px;
    margin: 0;
    font-size: 10pt;
    font-weight: 300;
    padding-top: 20px;
}
.panel__section {
    padding-left: 20px;
    margin-bottom: 60px;
}
.panel-wrap {

}
.panel-sidebar {
    width: 45px;
}
.panel-action {
    
}
.panel-main {
    width: 680px;
}
.panel-info {
    
}
.panel-info__header {
    width: 260px;
    border-left: 1px solid rgba(72, 22, 52, 0.2);
    border-bottom: 1px solid rgba(72, 22, 52, 0.2); /*TODO make the line smoother*/
}
.panel-info__header__text {
    position: relative;
    top: -5px;
    left: 15px;
    font-weight: normal;
}
.panel-info__ul {
    /*margin: 0;*/
    padding-left: 20px;
    font-weight: lighter;
}
.panel-info__li {
    /*margin: 0;
    padding: 0;*/
}
.panel-info__operation {
    padding-right: 60px;
}