body {
    position: relative;
    margin: 0;
    min-height: 100%;
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: #000000;
}
.sidebar-left {
    display: block;
    background-color: #35202c;
    width: 45px;
    height: 100%;
    position: fixed;
}
.content {
    display: block;
}
.wrap {
    display: block;
}
.wrap-main {
    width: 100%;
}

.panel {
    background-color: #ffffff;
    height: 590px; /*TODO make it in percentages*/
    width: 300px; /*TODO make it in percentages*/
    margin: 0 auto;
}

.panel-action {
    float: left;
    
}
.panel-main {
    position: relative;
    width: 745px; /*TODO make it in percentages*/
}
.panel-info {
    float: right;    
}
